<form id="form_monito" action="pepito.html" method="POST">
    <div class="form-group">
        <label for="myname">¿Como te llamas?</label>
        <input type="text" class="form-control" id="myname" aria-describedby="myname" placeholder="Escribe tu nombre">
    </div>
    <div class="form-group mt-2">
        <label for="age">¿Que edad tienes?</label>
        <input type="number" min="0" max="99" class="form-control" id="age" aria-describedby="age" placeholder="Selecciona tu edad">
    </div>

    <br />
    <button type="submit" id="btn_enviar_monito" class="btn btn-primary">Enviar</button>
</form>